@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-[white] bg-[black];
  }
  hr {
    @apply my-3 mx-auto w-[95%];
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s ease;
  animation: smoothScroll 1s forwards;
  background-color: black;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}

.swiper {
  margin: 5% 0;
}
.swiper-slide {
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .swiper-slide {
    font-size: 16px;
  }
  .slide-in-container {
    width: 150px;
    height: 180px;
  }
}

@media only screen and (min-width: 1024px) {
  .swiper-slide {
    font-size: 25px;
  }
  .slide-in-container {
    width: 240px;
    height: 250px;
  }
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.is-active + .answer {
  max-height: 200px;
  width: 200px;
  padding: 10px 0;
}

.slide-in-container {
  position: relative;
  overflow: hidden;
  width: full;
  height: 300px;
}
.img {
  width: inherit;
  height: inherit;
  animation: slide 1.5s;
  animation-iteration-count: 1;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
}

@keyframes slide {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}
