@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-[white] bg-[black];
  }
  hr {
    @apply my-3 mx-auto w-[95%];
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s ease;
  animation: smoothScroll 1s forwards;
  background-color: black;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}
