@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-[white] bg-[black];
  }
  hr {
    @apply my-3 mx-auto w-[95%];
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s ease;
  animation: smoothScroll 1s forwards;
  background-color: black;
}

@keyframes slide {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}

.swiper {
  margin: 5% 0;
}
.swiper-slide {
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 640px) {
  .swiper-slide {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .swiper-slide {
    font-size: 25px;
  }
}
.imageContainer {
  width: 200px;
  height: 200px;
  background-image: url(/img/image1.png);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.is-active + .answer {
  max-height: 200px;
  width: 200px;
  padding: 10px 0;
}
